:root {
    --color-black: #000;
    --heading-two: #222;
    --color-p: #444;
    --color-orange:#e55604 ;
    --color-blue: #26577c;
    --background-input: #ebe4d1;
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}